.Container{
    background-color: rgb(230, 220, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* width: 100vw; */
    padding: 0 50px;
    padding-bottom: 50px;
}

.Form{
    margin-top:120px;
    width: 500px;
    height: 300px; /**/
    background-color: #2D334A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 60px;
}

.Title{
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.InputSelect{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}


.formGroup{
    display:flex;
    flex-direction: column;
    width: 70%;
}


.formGroup span{
    margin-top: 5px;
    margin-bottom: 50px;
    color:white;
    background-color: red;
    border-radius: 3px;
}

.formGroup input{
    height: 40px;
    border-radius: 3px;
    padding: 0 20px;
    text-align: center;
}

button{
    background-color: #ffd803;
    height: 30px;
    border-radius: 3px;
    
}
