.Container{
    background-color: rgb(230, 220, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 50px;
    
}

.Form{
    margin-top:120px;
    width: 500px;
    height: 300px; /**/
    background-color: #2D334A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px; */
    margin-bottom: 60px;
    
}

.Title{
    /* height: 100px; */
    width: 500px;
    display: flex;
    justify-content: center;
    
}

.formGroup{
    display:flex;
    flex-direction: column;
    width: 70%;
    
}

.formGroup{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.formGroup span{
    margin-top: 5px;
    margin-bottom: 50px;
    color:white;
    background-color: red;
    border-radius: 3px;
}

.formGroup input{
    height: 40px;
    border-radius: 3px;
    padding: 0 20px;
    text-align: center;
}


.formGroup button{
    background-color: #ffd803;
    height: 30px;
    /* width: 100px; */
    border-radius: 3px;
    
}


.btnEdit{
    width: 30px;
    height: 30px;
    background-color: rgb(118, 246, 118);
    border: 1px solid black;
    margin-right: 20px;
}
.btnEdit:hover{
    background-color: rgb(4, 255, 4);
    border: solid 2px black;
}

.btnDel{
    width: 30px;
    height: 30px;
    background-color: rgb(236, 47, 47);
    color: white;
    border: 1px solid black;
}

.btnDel:hover{
    background-color: rgb(231, 0, 0);
    border: solid 2px black;
}