.container{
   max-width: 100%;
   height: auto;
   /* min-height: 100vh; */
   background-color: rgb(230, 220, 189);
   display: flex;
   justify-content: space-evenly;
   flex-shrink: 1;
   flex-wrap: wrap;
   padding: 150px 40px 30px 40px;
}
