/* borrar cuando termines */


.container{
    /* padding-top: 150px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(230, 220, 189);
}
.wrapLogin{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
}
.form{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    /* border: solid 2px black; */
}



.title{
    /* font-family: Raleway-Black; */
    font-size: 30px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.formGroup{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 100%;
    height: 62px;
    padding-left: 50px;
    padding-right: 10px;
    color: #686868;
    font-size: 18px;
    background-color: #e6e6e6;;
}
.iconInput{
    position: relative;
    top: -50%;
    left: -50%;
}

.containerbuttons{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}

.alternativeSubmit{
    width: 50px;
    height: 50px;
    background-color: white;
/* 
    border-radius: 10px;
    border: 0;
    background-color: white;
    transition: background-color .3s;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.4); */

}

.alternativeSubmit:hover{
    cursor: pointer;
    background-color: rgb(232, 232, 232);
    transition: background-color .3s;
}

.alternativeSubmit:active{
    background-color: rgb(196, 196, 196);
    transition: background-color .3s;
}

/* .container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.icon{
    width: 35px;
}

.btnText{
    font-size: 1.4em;
    font-weight: bolder;
}

.normalSubmit{
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: 0;
    background-color: #FFD803;
    transition: background-color .3s;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.4);
}

.normalSubmit:hover{
    cursor: pointer;
    background-color: rgb(215, 180, 6);
    transition: background-color .3s;
}

.normalSubmit:active{
    background-color: rgb(179, 150, 4);
    transition: background-color .3s;
}



.link{
    color: #0000EE;
    text-decoration: none;
}

/* @media (min-width: 619px) and (max-width: 1024px) {
    .alternativeSubmit{
        width: 60%;
    }

    .title{
        width: 600px;
        font-size: 1.8em;
        margin: 0;
    }

    .btnText{
        font-size: 1.1em;
        font-weight: bolder;
    }
}

@media (min-width: 426px) and (max-width: 619px) {
    .form{
        width: 80%;
        background-color: #2D334A;
        border-radius: 5%;
    }

    .title{
        font-size: 1.1em;
        color: #E3F6F5;
        text-align: center;
    }

    .container{
        width: 80%;
    }

    .alternativeSubmit{
        width: 60%;
        height: 8%;
    }

    .btnText{
        font-size: 1.2em;
        font-weight: bolder;
    }

    .icon{
        width: 30px;
    }

    .input{
        padding-left: 7px;
        font-size: 1em;
        box-sizing: border-box;
    }
}

@media (max-width: 425px) {
    .form{
        width: 80%;
        background-color: #2D334A;
        border-radius: 5%;
    }

    .title{
        font-size: 1.3em;
        color: #E3F6F5;
        text-align: center;
    }

    .input{
        padding-left: 7px;
        font-size: 1em;
        box-sizing: border-box;
    }

    .alternativeSubmit{
        width: 60%;
        height: 8%;
    }

    .icon{
        width: 30px;
    }

    .btnText{
        font-size: 1em;
        
    }
} */