.card{
   width: 280px;
   height: 430px;
   border: solid 1px gray;
   border-radius: 15px;
   flex-wrap: wrap;
   margin: 0 20px;
   margin-bottom: 80px;
}
.container{
   width: 280px;
   height: 430px;
   border: solid 1px gray;
   border-radius: 15px;
   flex-wrap: wrap;
   overflow: hidden;/* 
   margin-bottom: 80px; */
}
.container:hover > .imgcont{
   height: 60%;
}
.container:hover > .actions{
   height: 25%;
}
.container:hover{
   /* transform: scale(1.05); */
   box-shadow: 0px 0px 20px black;
   position: relative;
   animation: extender .9s;
   height: 480px;
}


.namecont{
   width: 100%;
   height: 15%;
   background-color: rgb(221, 215, 215);
   display: flex;
   justify-content: center;
   align-items: center;
   color:#fff;
   flex-shrink: 1;
   flex-wrap: wrap;
   border-top: solid 1px gray;
}

.name{
   width: 95%;
   text-align: center;
   color: black;
}

.imgcont{
   width: 100%;
   height: 65%;
   background-color: #fff;
   display: flex;
   justify-content: center;
}
.img{
   max-height: 100%;
}

.actions{
   width: 100%;
   height: 35%;
   background-color: rgb(221, 215, 215);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.price{
   position: relative;
   /* top: -10px; */
   font-weight: 400;
   font-size: 30px;

}

.btn{
    background-color: #FFD803;
    width: 180px;
    height: 40px;
    border: solid 1px gray;
    border-radius: 15px;
    margin-top: 5px;
}

.btn:hover{
   background-color: #e2c105;
}

@keyframes extender {
   from{
      position: relative;
      height: 430px;
   }
   to{
      position: relative;
      height: 480px;
   }
}