
.input{
    height: 25px;
    width: 60%;
    background-color: rgb(235, 238, 225);
    border: 2px solid rgb(35, 126, 245);
    border-radius: 8px;
}

.btn{
    height: 30px;
    width: 20%;
    background-color: rgb(35, 126, 245);
    border: 2px solid rgb(188, 226, 221);
    border-radius: 8px;
   
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(233, 231, 220);
    color:rgb(48, 46, 46);
    border: 2px solid rgb(35, 214, 245);

}
