
.container{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.input{
    height: 30px;
    width: 80%;
    background-color: rgb(235, 238, 225);
    border: 2px solid rgb(35, 126, 245);
    padding: 0 10px;

}

.btn{
    height: 35px;
    width: 29%;
    background-color: rgb(35, 126, 245);
    border: 2px solid rgb(188, 226, 221);   
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(233, 231, 220);
    color:rgb(48, 46, 46);
    border: 2px solid rgb(35, 214, 245);

}
